<!DOCTYPE html>

<html>
  <head>
    <title>Cloud Cohort: Group 4 </title> 
    <h1>Black Dev+ Cloud Cohort: Group 4</h1>
    <h1>Meet the Team!</h1>  
  </head>
  
  <body>
    <image src="{{url_for('static', filename='woman2.jpg')}}" width="250" height="256">
    <p>Name: Neana Del Rio</p>
    <p>Experience: Cyber Security Analyst at Deloitte</p> 
    <p>Based: Atlanta</p>

    <image src="{{url_for('static', filename='man1.jpg')}}" width="250" height="256"></image>
    <p>Name: James "Jim" Robinson</p>
    <p>Experience: Software Development</p>
    <p>Based: Charleston</p> 

    <image src="{{url_for('static', filename='woman1.jpg')}}" width="250" height="256"></image>
    <P>Name: Shavonne Tate</p>
    <p>Experience: Cloud Quality Assurance Engineer</p>
    <p>Based: Seattle</p>
  </body>
</html>